html{
    font-family: 'Roboto', sans-serif;
}

button{
    color: blue;
}

#maze{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title{
    width: 200px;
    padding: 10px;
    border: 10px;
    margin: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    position: relative;
    background-color: grey;
} 

.header{
    width: 200px;
    padding: 10px;

    text-align: center;
    

}
.right1{
    position: absolute;
    right: 0px;
}

.right2{
    position: absolute;
    right
}