

html{
    font-family: 'Roboto', sans-serif;
}

header{
    
    background-color:rgb(128, 128, 128);
    height: fit-content;
}


.parent{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.parent > div{
    display:flex;
    justify-content: flex-end;
    
    background-color: var(--background-color);

    width: fit-content;
    height: 60px;
    margin: 25px;
    padding: 10px;

    --background-color: grey;
}



.parent > div > p:not(#title){
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    transition: background-color .5s, padding .5s ease;
} 

.parent > div > p:hover:not(#title){
    background-color: rgb(192, 199, 212);
    padding: 1.5em;
}

.parent > div:first-child{
    justify-content: flex-start;
    flex: 3;
}



.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
